body{
    background-color: #daf4f8;
}

.logo {
    position: fixed;
    max-height: 60px; 
    max-width: 90%; 
    top: 20px; 
    left: 20px; 
    z-index: 999; 
}
/**/
#widget {
    background-color: rgb(59, 64, 156);
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    position: fixed; 
    top: 20px;
    right: 20px;
    cursor: pointer; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: white; 
    font-weight: bold; 
}

#widget img {
    max-width: 80%; 
    max-height: 80%; 
    border-radius: 50%; 
    display: block;
    margin: auto; 
}

.forgot-password-form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.forgot-password-form-container h2 {
    text-align: center;
}

.forgot-password-form {
    display: flex;
    flex-direction: column;
}

.forgot-password-form label {
    margin-bottom: 10px;
}

.forgot-password-form input[type="email"] {
    padding: 10px;
    margin-bottom: 20px;
}

.forgot-password-form input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}

.btn-back {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-back:hover {
    background-color: #0056b3;
}

.btn-back:before {
    content: '\2190'; 
    margin-right: 8px; 
}